Mirja comments

> I'm not fully sure about the intended status of this document. The shepherd
> write-up says "the document has normative requirements for conforming WebRTC
> implementations", however, for me it seems this document makes "only"
> recommendations and has actually no normative requirements. Therefore
> informational status might be more appropriate, however, I will not block
> publication as PS.
> 
> One mostly minor editorial note:
> 
> Sec 3.3: "experiments performed indicate that when Opus FEC is used, the
> overhead imposed
>    is about 20-30%, depending on the amount of protection needed."
> Would it be possible to provide a reference for this number?

I believe this came from a WG mailing list post (possibly my own), rather than an external document that could be linked to. Suggestions?

> Also this section says: "See [RFC6716], Section 2.1.7 for complete details."
> However, section 2.1.7 in RFC6716 is very short and actually does not provide
> any details...

Unfortunately, that was the best RFC reference I could find.